.tittle{
    font-style: italic;
    vertical-align: baseline;
    font-size: 61px;
    font-weight: 400;
}
.bg{
    background-color: #7bbb5a;
}
.bg-form{
    background-color: #709e56;
}
.input-group{
    border:none;
    position: relative;

}
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */