.p-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.input-group{
    border: none;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
}
input{
    border: 0px;
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
.bg-left{
    background-image: url("2.jpg");
}
*::-webkit-input-placeholder {color: white }