.bg-top {
    background-image: url("1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    height: 100%;
}
.font-size-top-content{
    font-size: 600%;
    color: lavender;
    font-style: normal;
}
.card-img{
    opacity: 0.4;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-yellow{
    background-color: #edc458;
    width: 30%;
}
.mt-50{
    margin-top: -10px;
}
.ml-50{
    margin-left: 50%;
}
.content-title{
    font-size: 260%;
}
.content-off{
    font-size: 130%;
    line-height: normal;
}
