.bg {
    background-image: url("p1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    height: 100%;
    background-color: #333333;
  }
.blockdeed-horizon{
    margin-top: -10px;
    height: 2px;
}
.blockdeed-tittle{
    font-size: 100px;
}
.The-latest{
    background-color: #000000;
}
.The-latest-tittle{
    font-size: 25px;
    text-align: center;
}
.off-fan{
    background-color: #EDC458;
}
.off-fan-tittle{
    font-style: initial;
    font-size: 40px;
}
.off-fan-content{
    font-size: 29px;
}
.expect-horizon{
    margin-top: -5px;
    height: 2px;
    background-color: yellow;
    width: 11%;
}
.expect-tittle{
    font-size: 50px;
}
.expect-content{
    font-size: 26px;
}
.live-bg{
    background-image: url("3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.live-tittle{
    font-size: 50px;
}
.live-content{
    font-size: 26px;
}
.property-content{
    font-size: 26px;
}
.border-footer{
    border-left: 2px solid #EDC458;
}