.mg-50{
    margin-top: 50%;
}
.bg-card-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('n2.jpg');
    height: 100%;
}
body, html{
    height: 100%;
}
.bg-card-2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('n4.jpg');
    height: 100%;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}


  